In [1]:
import numpy as np
import pandas as pd
import csv
import random
import math

In [2]:
rawdata=pd.read_csv('Raweyedata_drop.csv')

In [22]:
df=rawdata.iloc[32:64,2:].values

In [23]:
df

array([[1025,  751],
       [1038,  754],
       [1057,  761],
       [1083,  763],
       [1106,  758],
       [1127,  754],
       [1151,  756],
       [1168,  758],
       [1212,  764],
       [1256,  769],
       [1242,  790],
       [1143,  831],
       [1054,  865],
       [ 729,  923],
       [ 650,  753],
       [ 609,  575],
       [ 611,  349],
       [ 561,  126],
       [ 149,  199],
       [ 206,  239],
       [ 259,  250],
       [ 299,  259],
       [ 323,  262],
       [ 386,  254],
       [ 433,  244],
       [ 472,  235],
       [ 530,  228],
       [ 530,  220],
       [ 537,  219],
       [ 548,  216],
       [ 557,  219],
       [ 553,  227]], dtype=int64)

In [24]:
mean_0=df.mean(axis=0)

In [25]:
mean_0_x=mean_0[0]
mean_0_x

737.625

In [26]:
mean_0_y=mean_0[1]
mean_0_y

502.21875

In [27]:
std_0=df.std(axis =0)

In [28]:
std_0_x=std_0[0]
std_0_x

347.3208845937716

In [29]:
std_0_y=std_0[1]
std_0_y

274.1878615081957

0.1335666730800713

In [19]:
x_nor=np.zeros([32,1],dtype=int)

In [20]:
for i in range(0,32):
    r=random.random()
    x_nor[i]=mean_0_x+r*std_0_x

In [21]:
x_nor

array([[920],
       [955],
       [973],
       [921],
       [940],
       [949],
       [913],
       [921],
       [931],
       [954],
       [972],
       [945],
       [914],
       [951],
       [927],
       [911],
       [973],
       [916],
       [940],
       [937],
       [914],
       [911],
       [934],
       [927],
       [940],
       [929],
       [905],
       [970],
       [922],
       [950],
       [902],
       [962]])

In [150]:
y_nor=np.zeros([32,1],dtype=int)

In [151]:
for i in range(0,32):
    r=random.random()
    y_nor[i]=mean_0_y+r*std_0_y

In [152]:
y_nor

array([[722],
       [736],
       [736],
       [739],
       [730],
       [729],
       [731],
       [739],
       [721],
       [706],
       [705],
       [710],
       [704],
       [740],
       [742],
       [734],
       [732],
       [747],
       [708],
       [717],
       [706],
       [735],
       [733],
       [722],
       [735],
       [714],
       [746],
       [724],
       [743],
       [738],
       [745],
       [719]])

In [153]:
df_0_nor=np.append(x_nor,y_nor,axis=1)

In [154]:
df_0_nor

array([[907, 722],
       [917, 736],
       [935, 736],
       [954, 739],
       [966, 730],
       [917, 729],
       [934, 731],
       [937, 739],
       [912, 721],
       [928, 706],
       [967, 705],
       [907, 710],
       [959, 704],
       [916, 740],
       [968, 742],
       [935, 734],
       [942, 732],
       [936, 747],
       [911, 708],
       [904, 717],
       [951, 706],
       [911, 735],
       [962, 733],
       [932, 722],
       [937, 735],
       [941, 714],
       [970, 746],
       [901, 724],
       [928, 743],
       [904, 738],
       [927, 745],
       [948, 719]])

In [157]:
df_0_nor=pd.DataFrame(df_0_nor)

In [158]:
df_0_nor

      0    1
0   907  722
1   917  736
2   935  736
3   954  739
4   966  730
5   917  729
6   934  731
7   937  739
8   912  721
9   928  706
10  967  705
11  907  710
12  959  704
13  916  740
14  968  742
15  935  734
16  942  732
17  936  747
18  911  708
19  904  717
20  951  706
21  911  735
22  962  733
23  932  722
24  937  735
25  941  714
26  970  746
27  901  724
28  928  743
29  904  738
30  927  745
31  948  719

      0    1
0   930  720
1   908  719
2   973  727
3   925  714
4   913  709
5   957  716
6   901  733
7   922  710
8   903  734
9   906  714
10  969  734
11  915  711
12  940  703
13  958  734
14  972  716
15  937  725
16  975  707
17  907  709
18  910  721
19  953  740
20  962  721
21  956  741
22  934  742
23  924  724
24  968  737
25  959  728
26  905  719
27  938  709
28  963  727
29  942  721
30  925  725
31  933  734

In [129]:
columns[1].replace

1

In [160]:
sin(3.14/2)

NameError: name 'sin' is not defined

In [159]:
def normal_pattern(x_mean,x_std,y_mean,y_std):
    r=random.random()
    x_nor=x_mean+r*x_std
    y_nor=y_mean+r*y_std

In [162]:
def cyclic_pattern(x_mean,x_std,y_mean,y_std,t,T):
    PI=math.pi
    r=random.random()
    a_x=random.uniform(1.5*x_std,2.5*x_std)
    x_cyc=x_mean+r*x_std+a_x*math.sin(2*PI*t/T)
    a_y=random.uniform(1.5*y_std,2.5*y_std)
    y_cyc=y_mean+r*y_std+a_y*math.sin(2*PI*t/T)

In [ ]:
x_train=df.iloc[]

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import math
PI=math.pi

dataset=pd.read_csv('Raweyedata_drop.csv')

df_x=dataset.iloc[0:32,2]
df_y=dataset.iloc[0:32,3]

x_mean=df_x.mean(axis=0)
y_mean=df_y.mean(axis=0)

x_std=df_x.std(axis=0)
y_std=df_y.std(axis=0)

def normal_pattern(x_mean,x_std,y_mean,y_std):
    r=random.random()
    x1=x_mean+r*x_std
    y1=y_mean+r*y_std
    return x1,y1

def cyclic_pattern(x_mean,x_std,y_mean,y_std,t,T):
    PI=math.pi
    r=random.random()
    a_x=random.uniform(1.5*x_std,2.5*x_std)
    x2=x_mean+r*x_std+a_x*math.sin(2*PI*t/T)
    a_y=random.uniform(1.5*y_std,2.5*y_std)
    y2=y_mean+r*y_std+a_y*math.sin(2*PI*t/T)
    return x2,y2
def systematic_pattern(x_mean,x_std,y_mean,y_std,t):
    r=random.random()
    d_x=random.uniform(1*x_std,3*x_std)
    x3=x_mean+r*x_std+d_x*pow(-1,t)
    d_y=random.uniform(1*y_std,3*y_std)
    y3=y_mean+r*y_std+d_y*pow(-1,t)
    return x3,y3
def stratification_pattern(x_mean,x_std,y_mean,y_std):
    r=random.random()
    stdd_x=random.uniform(0.2*x_std,0.4*x_std)
    x4=x_mean+r*stdd_x
    stdd_y=random.uniform(0.2*y_std,0.4*y_std)
    y4=y_mean+r*stdd_y
    return x4,y4

def uptrend_pattern(x_mean,x_std,y_mean,y_std,t):
    r=random.random()
    g_x=random.uniform(0.05*x_std,0.25*x_std)
    x5=x_mean+r*x_std+t*g_x
    g_y=random.uniform(0.05*y_std,0.25*y_std)
    y5=y_mean+r*y_std+t*g_y
    return x5,y5

def downtrend_pattern(x_mean,x_std,y_mean,y_std,t):
    r=random.random()
    g_x=random.uniform(0.05*x_std,0.25*x_std)
    x6=x_mean+r*x_std-t*g_x
    g_y=random.uniform(0.05*y_std,0.25*y_std)
    y6=y_mean+r*y_std-t*g_y
    return x6,y6

def upshift_pattern(x_mean,x_std,y_mean,y_std,t):
    p=random.uniform(10,20)
    r=random.random()
    if t>=p:
        k=1
    else:
        k=0
    s_x=random.uniform(x_std,3*x_std)
    x7=x_mean+r*x_std+k*s_x
    s_y=random.uniform(y_std,3*y_std)
    y7=y_mean+r*y_std+k*s_y
    return x7,y7

def downshift_pattern(x_mean,x_std,y_mean,y_std,t):
    p=random.uniform(10,20)
    r=random.random()
    if t>=p:
        k=1
    else:
        k=0
    s_x=random.uniform(x_std,3*x_std)
    x8=x_mean+r*x_std-k*s_x
    s_y=random.uniform(y_std,3*y_std)
    y8=y_mean+r*y_std-k*s_y
    return x8,y8


x_point=np.zeros([256,1])
y_point=np.zeros([256,1])
y_train=np.zeros([256,1])

for i in range(1,9):
    for j in range(0,32):
        if i==1:   
            x_point[j],y_point[j]=normal_pattern(x_mean,x_std,y_mean,y_std)
        elif i==2:
            x_point[j+32],y_point[j+32]=cyclic_pattern(x_mean,x_std,y_mean,y_std,j+1,32)
        elif i==3:
            x_point[j+64],y_point[j+64]=systematic_pattern(x_mean,x_std,y_mean,y_std,j+1)
        elif i==4:
            x_point[j+96],y_point[j+96]=stratification_pattern(x_mean,x_std,y_mean,y_std)
        elif i==5:
            x_point[j+128],y_point[j+128]=uptrend_pattern(x_mean,x_std,y_mean,y_std,j+1)
        elif i==6:
            x_point[j+160],y_point[j+160]=downtrend_pattern(x_mean,x_std,y_mean,y_std,j+1)
        elif i==7:
            x_point[j+192],y_point[j+192]=upshift_pattern(x_mean,x_std,y_mean,y_std,j+1)
        elif i==8:
            x_point[j+224],y_point[j+224]=downshift_pattern(x_mean,x_std,y_mean,y_std,j+1)

In [6]:
x_train=np.append(x_point,y_point,axis=1)

In [9]:
x_train

array([[ 975.91735429,  747.16438231],
       [ 904.82797508,  705.29279955],
       [ 971.6542344 ,  744.65340839],
       [ 919.96129324,  714.20631083],
       [ 969.71531931,  743.51138908],
       [ 904.02364571,  704.81905024],
       [ 951.25193843,  732.63647374],
       [ 938.27775876,  724.99469315],
       [ 915.11940071,  711.35444033],
       [ 971.74857684,  744.708976  ],
       [ 969.82927801,  743.57851065],
       [ 914.22875478,  710.82985064],
       [ 945.40222343,  729.19099667],
       [ 967.9109183 ,  742.44859845],
       [ 921.58783544,  715.16434278],
       [ 922.6504053 ,  715.79019551],
       [ 912.93200011,  710.06606327],
       [ 963.87218169,  740.06978608],
       [ 936.71713763,  724.07548866],
       [ 916.02982192,  711.89067763],
       [ 909.86728128,  708.26094653],
       [ 965.35855758,  740.9452602 ],
       [ 944.66082462,  728.75431342],
       [ 935.20719522,  723.18613389],
       [ 937.28170849,  724.40802041],
       [ 957.93523802,  736.57293141],
       [ 913.26794876,  710.26393673],
       [ 939.04648039,  725.44746953],
       [ 924.34138098,  716.78617872],
       [ 930.52100838,  720.4259739 ],
       [ 958.90372199,  737.14336762],
       [ 908.97745923,  707.73684212],
       [ 959.9435444 ,  736.8627443 ],
       [ 982.46218716,  746.05515934],
       [1016.00666123,  780.09828721],
       [1012.98728841,  767.83261674],
       [1098.75653229,  798.68307808],
       [1121.5446476 ,  816.19379847],
       [1166.40474045,  832.50477089],
       [1079.17458202,  822.92405303],
       [1058.40397336,  811.91403049],
       [1045.40823284,  822.32587368],
       [1055.35489646,  797.500043  ],
       [1035.76131022,  764.33660712],
       [1068.20647515,  800.83561992],
       [1029.71494077,  786.98807207],
       [ 999.95970949,  760.81026353],
       [ 976.13409651,  747.29204329],
       [ 923.16492106,  719.22803339],
       [ 860.05665945,  678.31663896],
       [ 841.14945898,  685.99908453],
       [ 822.67080271,  658.61891194],
       [ 835.97755216,  650.94336632],
       [ 772.2054668 ,  622.76046999],
       [ 773.10631143,  617.73031924],
       [ 745.79295404,  633.45184793],
       [ 784.01739085,  599.61857456],
       [ 759.99540363,  643.7780334 ],
       [ 803.17616086,  644.62496314],
       [ 777.85149151,  647.3252239 ],
       [ 833.09574045,  644.55277785],
       [ 831.27725558,  665.1662729 ],
       [ 929.01769394,  717.37661507],
       [ 911.84295817,  709.42461851],
       [ 807.69663717,  592.13439032],
       [1079.40070019,  781.58541302],
       [ 768.85491284,  579.85160523],
       [1071.99444401,  790.20630215],
       [ 748.13311956,  664.56185791],
       [1166.03072622,  835.22498142],
       [ 708.62614243,  578.9001474 ],
       [1149.99737254,  824.41264367],
       [ 782.53789428,  638.11793557],
       [1145.50076279,  857.66239516],
       [ 803.55911589,  581.70699472],
       [1099.60193094,  792.70295237],
       [ 764.87224186,  601.76733626],
       [1039.82228553,  847.73580777],
       [ 764.03360296,  614.43651619],
       [1173.22536134,  871.32570752],
       [ 792.57758237,  665.64751166],
       [1156.40415329,  821.46701753],
       [ 880.53199208,  633.07457996],
       [1058.30268145,  805.66636134],
       [ 779.86164812,  663.86990021],
       [1066.19562776,  842.78153687],
       [ 703.49675552,  587.65688545],
       [1106.99538927,  841.79870906],
       [ 730.64191358,  636.02600415],
       [1129.05491404,  828.6598934 ],
       [ 751.06310895,  661.04683064],
       [1128.29797152,  822.08826856],
       [ 700.22639086,  586.01826157],
       [1202.91721358,  841.23135798],
       [ 814.18037171,  598.12604178],
       [1135.66301006,  837.38167592],
       [ 905.76022224,  705.64427326],
       [ 907.73725943,  710.16533254],
       [ 922.62115256,  714.6968399 ],
       [ 909.36626432,  708.38019852],
       [ 906.26323365,  707.55792833],
       [ 924.45437798,  711.30508941],
       [ 918.26682678,  713.60606212],
       [ 923.02802166,  718.78852502],
       [ 906.4332517 ,  706.41190133],
       [ 911.00583096,  711.71033722],
       [ 909.94241901,  711.04427821],
       [ 914.22035444,  714.01356987],
       [ 903.75439775,  704.46605107],
       [ 903.12747831,  704.16084801],
       [ 902.43658928,  703.87559311],
       [ 902.46486595,  704.07424983],
       [ 917.01992685,  717.49793017],
       [ 917.63676028,  717.65588528],
       [ 916.29659879,  718.0034103 ],
       [ 918.04560328,  714.28756517],
       [ 919.97419518,  711.61698393],
       [ 912.19981303,  710.89297838],
       [ 911.72682135,  714.01874977],
       [ 902.77641272,  704.58448579],
       [ 920.12489205,  716.36634423],
       [ 917.76802264,  714.42800498],
       [ 915.5393671 ,  713.07184991],
       [ 905.66804759,  704.78764216],
       [ 915.78542232,  713.67557394],
       [ 919.12281977,  719.11146302],
       [ 912.23271754,  707.96408669],
       [ 919.86981998,  712.34656338],
       [ 955.01002515,  738.12184331],
       [ 964.49926413,  757.2253887 ],
       [ 971.36641561,  726.01383723],
       [1038.0670463 ,  761.93465861],
       [ 974.364086  ,  746.84573758],
       [1002.10244907,  783.4926174 ],
       [ 979.0066717 ,  770.85222109],
       [ 968.12448203,  773.97951859],
       [ 997.0440779 ,  758.48885403],
       [1112.01064497,  743.16487535],
       [1170.8077047 ,  855.01486089],
       [1188.93990784,  768.67434678],
       [1019.00002751,  764.27991743],
       [1037.09410495,  776.58811482],
       [ 998.64695359,  789.60138439],
       [1131.62475607,  840.64452675],
       [1052.08499824,  813.5468968 ],
       [1145.0569978 ,  816.66014728],
       [1022.87546285,  933.58669243],
       [1346.87292361,  846.9152081 ],
       [1171.45544035,  866.08456065],
       [1262.05693714,  805.72568749],
       [1144.59518006,  799.04524974],
       [1264.43645731,  887.34738892],
       [1179.77943141,  845.47349489],
       [1257.71730275,  966.20979622],
       [1323.00375454,  908.78515743],
       [1318.90943754,  965.5870437 ],
       [1390.66431693,  838.38293679],
       [1215.3842485 ,  933.04236835],
       [1438.32853168,  951.85580981],
       [1359.12083566,  870.17609368],
       [ 953.91674505,  729.82015844],
       [ 938.38069585,  716.76526371],
       [ 935.38339318,  717.07247827],
       [ 923.56180058,  723.65380404],
       [ 907.32982587,  728.34124161],
       [ 831.24307431,  671.47193309],
       [ 875.81812702,  670.67618575],
       [ 911.17824521,  653.37924443],
       [ 868.11692588,  649.32689082],
       [ 887.1100698 ,  617.29091245],
       [ 843.01427339,  617.67106985],
       [ 813.86536861,  695.93383617],
       [ 776.40213434,  674.45618044],
       [ 754.23859658,  650.96851397],
       [ 831.60647434,  608.3813672 ],
       [ 868.4183862 ,  568.11849109],
       [ 682.69655904,  629.10833369],
       [ 763.38559658,  664.08423359],
       [ 656.06372453,  648.33162522],
       [ 755.58799513,  663.27381335],
       [ 541.24260578,  593.4800563 ],
       [ 658.84959325,  481.9231961 ],
       [ 654.93826527,  571.64398307],
       [ 727.86634921,  572.85428078],
       [ 458.13243833,  532.67793018],
       [ 688.83536611,  548.19594872],
       [ 829.63292772,  662.51564238],
       [ 711.87982466,  574.95988944],
       [ 768.22558783,  582.01117945],
       [ 439.26346341,  539.40166205],
       [ 691.09979034,  597.85979457],
       [ 408.39800262,  449.98424659],
       [ 915.97838603,  711.86038194],
       [ 960.00861651,  737.79414954],
       [ 945.37920065,  729.17743627],
       [ 937.26176721,  724.39627501],
       [ 910.3637279 ,  708.55335316],
       [ 917.08927764,  712.51469613],
       [ 940.74539302,  726.44812759],
       [ 953.37170103,  733.88501207],
       [ 915.70302899,  711.69819688],
       [ 972.78708181,  745.32065453],
       [ 944.94966027,  728.92443736],
       [ 924.59590009,  716.93609025],
       [ 947.36013354,  730.34420403],
       [ 929.0397288 ,  719.55350151],
       [ 985.12286627,  791.11814394],
       [1101.01903133,  837.18772336],
       [1185.63209637,  868.06697135],
       [1114.43637618,  780.78691995],
       [1069.48776529,  793.52784125],
       [1162.04934231,  867.13129865],
       [1047.32967431,  782.65237534],
       [1069.25493092,  793.47605852],
       [1134.99231598,  828.1040913 ],
       [1130.04362077,  818.6634649 ],
       [1056.57947682,  811.57685987],
       [1137.43571084,  839.51484657],
       [1103.55924047,  770.08690067],
       [1037.50976536,  829.12851257],
       [1146.9612103 ,  842.72251911],
       [1174.10997902,  854.95300963],
       [1114.77668999,  789.37263459],
       [1156.60042411,  780.866462  ],
       [ 906.90753926,  706.51766105],
       [ 930.89309654,  720.64513351],
       [ 974.12642282,  746.10952522],
       [ 927.75139359,  718.79467319],
       [ 956.64734239,  735.814362  ],
       [ 925.48865531,  717.4619223 ],
       [ 958.84498533,  737.10877178],
       [ 910.52369622,  708.64757436],
       [ 953.11955651,  733.73649917],
       [ 904.38579181,  705.03235398],
       [ 929.69652463,  719.94035369],
       [ 926.85217197,  718.26503243],
       [ 854.67159234,  648.99523593],
       [ 896.67219718,  632.45726452],
       [ 917.99682856,  713.04924284],
       [ 810.83069509,  604.00115611],
       [ 922.71637576,  715.82905205],
       [ 852.12066648,  656.76735688],
       [ 816.3115021 ,  585.59051171],
       [ 709.68780941,  641.33495378],
       [ 836.52359372,  637.49246074],
       [ 783.46262839,  599.21258905],
       [ 829.78711118,  651.54234675],
       [ 868.94909838,  631.05569498],
       [ 823.38087095,  621.10071039],
       [ 770.49362368,  657.10578523],
       [ 854.32858735,  666.66373205],
       [ 775.98222579,  656.35145434],
       [ 778.58182772,  609.679313  ],
       [ 847.4562792 ,  622.8464518 ],
       [ 828.3628325 ,  688.54876517],
       [ 814.4834714 ,  577.73072351]])