In [28]:
import numpy as np
import pandas as pd
import csv
import random

In [2]:
rawdata=pd.read_csv('Raweyedata_drop.csv')

In [7]:
df_0=rawdata.iloc[0:32,2:].values

In [8]:
df_0

array([[ 837.,  624.],
       [ 836.,  627.],
       [ 836.,  633.],
       [ 834.,  643.],
       [ 832.,  649.],
       [ 831.,  658.],
       [ 830.,  659.],
       [ 829.,  659.],
       [ 828.,  664.],
       [ 828.,  668.],
       [ 827.,  673.],
       [ 823.,  682.],
       [ 821.,  686.],
       [ 820.,  686.],
       [ 817.,  686.],
       [ 823.,  690.],
       [ 902.,  717.],
       [ 946.,  743.],
       [ 954.,  750.],
       [ 959.,  750.],
       [ 963.,  750.],
       [ 967.,  750.],
       [ 972.,  748.],
       [ 976.,  747.],
       [ 980.,  747.],
       [ 986.,  747.],
       [ 992.,  747.],
       [ 994.,  744.],
       [ 996.,  744.],
       [1000.,  745.],
       [1003.,  745.],
       [1010.,  748.]])

In [10]:
mean_0=df_0.mean(axis=0)

In [13]:
mean_0_x=mean_0[0]
mean_0_x

901.625

In [14]:
mean_0_y=mean_0[1]
mean_0_y

703.40625

In [21]:
std_0=df_0.std(axis =0)

In [25]:
std_0_x=std_0[0]
std_0_x

75.78742887181224

In [26]:
std_0_y=std_0[1]
std_0_y

44.63872994315027

0.1335666730800713

In [134]:
x_nor=np.zeros([32,1],dtype=int)

In [148]:
for i in range(0,32):
    r=random.random()
    x_nor[i]=mean_0_x+r*std_0_x

In [149]:
x_nor

array([[907],
       [917],
       [935],
       [954],
       [966],
       [917],
       [934],
       [937],
       [912],
       [928],
       [967],
       [907],
       [959],
       [916],
       [968],
       [935],
       [942],
       [936],
       [911],
       [904],
       [951],
       [911],
       [962],
       [932],
       [937],
       [941],
       [970],
       [901],
       [928],
       [904],
       [927],
       [948]])

In [150]:
y_nor=np.zeros([32,1],dtype=int)

In [151]:
for i in range(0,32):
    r=random.random()
    y_nor[i]=mean_0_y+r*std_0_y

In [152]:
y_nor

array([[722],
       [736],
       [736],
       [739],
       [730],
       [729],
       [731],
       [739],
       [721],
       [706],
       [705],
       [710],
       [704],
       [740],
       [742],
       [734],
       [732],
       [747],
       [708],
       [717],
       [706],
       [735],
       [733],
       [722],
       [735],
       [714],
       [746],
       [724],
       [743],
       [738],
       [745],
       [719]])

In [153]:
df_0_nor=np.append(x_nor,y_nor,axis=1)

In [154]:
df_0_nor

array([[907, 722],
       [917, 736],
       [935, 736],
       [954, 739],
       [966, 730],
       [917, 729],
       [934, 731],
       [937, 739],
       [912, 721],
       [928, 706],
       [967, 705],
       [907, 710],
       [959, 704],
       [916, 740],
       [968, 742],
       [935, 734],
       [942, 732],
       [936, 747],
       [911, 708],
       [904, 717],
       [951, 706],
       [911, 735],
       [962, 733],
       [932, 722],
       [937, 735],
       [941, 714],
       [970, 746],
       [901, 724],
       [928, 743],
       [904, 738],
       [927, 745],
       [948, 719]])

In [157]:
df_0_nor=pd.DataFrame(df_0_nor)

In [158]:
df_0_nor

      0    1
0   907  722
1   917  736
2   935  736
3   954  739
4   966  730
5   917  729
6   934  731
7   937  739
8   912  721
9   928  706
10  967  705
11  907  710
12  959  704
13  916  740
14  968  742
15  935  734
16  942  732
17  936  747
18  911  708
19  904  717
20  951  706
21  911  735
22  962  733
23  932  722
24  937  735
25  941  714
26  970  746
27  901  724
28  928  743
29  904  738
30  927  745
31  948  719

      0    1
0   930  720
1   908  719
2   973  727
3   925  714
4   913  709
5   957  716
6   901  733
7   922  710
8   903  734
9   906  714
10  969  734
11  915  711
12  940  703
13  958  734
14  972  716
15  937  725
16  975  707
17  907  709
18  910  721
19  953  740
20  962  721
21  956  741
22  934  742
23  924  724
24  968  737
25  959  728
26  905  719
27  938  709
28  963  727
29  942  721
30  925  725
31  933  734

In [129]:
columns[1].replace

1

In [159]:
def normal_pattern(x_mean,x_std,y_mean,y_std):
    r=random.random()
    x_nor=x_mean+r*x_std
    y_nor=y_mean+r*y_std

In [ ]:
def cyclic_pattern(x_mean,x_std,y_mean,y_std,t,T):
    r=random.random()
    a_x=random.uniform(1.5*x_std,2.5*x_std)
    x_cyc=x_mean+r*x_std+a_x*sin(2*)